bin/
obj/
.idea/
*.user
Moirai.Parser/gen/moirai_lexer.cs
Moirai.Parser/gen/MoiraiParserBaseListener.cs
Moirai.Parser/gen/MoiraiParserListener.cs
MoiraiCli/hello.db
vscode-languageserver/client/serverCopy
MoiraiCli/g.dot
MoiraiWebServer/Client/node_modules
