@font-face {
  /* Reference name */
  font-family: 'Roboto';
  /* For multiple files use commas, ex: url(), url(), ... */
  src: url('/fonts/Roboto-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='skeleton'] {
  --zzzzzzzzz: 40px;
  --theme-font-family-base: 'Roboto', sans-serif;
  --theme-font-family-heading: 'Roboto', sans-serif;
}
html,
body {
  @apply h-full overflow-hidden;
  height: 100vh;
}
